/********** Base styles **********/
* {
  font-family: "Poppins", sans-serif;
}

html {
  box-sizing: border-box;

}

#header-nav {
  background-color: #0000FF;
  border-radius: 0;
  border: 0;
}

#navbar-brand {
  color: #FFFFFF;
}

#nav-list {
  margin: 0px;
  padding: 0px;
}

#burger{
  margin: 0px;
  padding: 0px;
}

#nav-list a {
  color: #FFFFFF;
  margin: 0px;
}

#nav-list a:hover {
  background-color: #FFFFFF;
  color: #0000FF;
}

h1 {
  font-weight: bold;
  font-size: 175%;
}

#content {
  height: 1000px;
  widows: 95%;
  border: 1px solid black;
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 15px;
}